body {
  background-color: white;
}

nav a {
  color: black !important;
  font-weight: 700;
}

nav a:hover {
  color: green;
}

.navbar-default {
  margin-top: 60px;
    border: 0px !important;
}

.navbar .navbar-nav {
  font-family: 'Montserrat', serif;
  letter-spacing: 1px;
  background-color: white;
  font-size: 18px;
  color: black;
}

.navbar .navbar-collapse {
  background-color: white;
}

.container-fluid {
background-color: white;
}



header {
  text-align: center;
}


h1 {
  font-size: 100px;
}
