body {
  background-color: #ecf0f1;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family: 'Montserrat', serif;
  letter-spacing: 1px;
  background-color: #ecf0f1;
  font-size: 18px;
  color: black;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: #ecf0f1;
}

.container-fluid {
background-color: #ecf0f1;
}



header {
  text-align: center;
}


h1 {
  font-size: 100px;
}
